<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>
<%= link_to "Create New Listing", new_listing_path %>
<h2>Featured home stays!</h2>
<% @listings.each do |l| %>
<a href="/listings/<%=l.id%>"><%= l.name %></a><br>
<% end %>
